{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
    <link href="/build/login.css" rel="stylesheet">
{% endblock %}
{% block body %}

    {% include "parts/_header.html.twig" with {'title': title}%}

<div id="div-login">
    <form method="post" id="login-form">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h2>Se connecter:</h2>
        <input type="text" placeholder="Identifiants" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        
        <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <button  type="submit">
            Connexion
        </button>
        <p id="trigger-register"class="message">Pas encore inscrit? <span>Créer un compte</span></p>
    </form>
    <form id="register-form" class="hidden">
            <h2>S'inscire:</h2>
            <input type="text" placeholder="Adresse mail"/>
            <input type="password" placeholder="Mot de passe"/>
            <button>Créér</button>
            <p id="trigger-login" class="message">Déja inscrit? <span>Connexion</span></p>
        </form>
</div>

{% include "parts/_footer.html.twig"%}
   {% block javascript %}
        {{ encore_entry_script_tags('login') }}
        <script type="text/javascript" href="build/login.js"></script>
    {% endblock %}
{% endblock %}
