

<nav id="nav-menu">

    <ul id="main-menu">
        <a href="{{ path('admin-event')}}"><li>Evénements</li></a>
        <a href="{{ path('admin-artiste')}}"><li>Artistes</li></a>
        <a href="{{ path('admin-location')}}"><li>Salle</li></a>
        <a href="{{ path('admin-category') }}"><li>Catégorie</li></a>
        <a href="{{ path('admin-user')}}"><li>Utilisateurs</li></a>
        <a href="{{ path('admin-sell')}}"><li>Ventes</li></a>
        <a href="{{ path('accueil')}}"><li>Revenir sur le site</li></a>
        <a href="{{ path('app_logout')}}"><li>Déconnexion</li></a>
        
    </ul>   
    <div id="burger">
        <span id="bar"></span>
    </div>   
</nav>