{% extends "./admin/base.admin.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    <link href="/build/admin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <header>
        <h1>{{title}}</h1>
    </header>

    <main>
        {% include "./admin/parts/_toolbar.html.twig"%}

        {% block javascript %}
            {{ encore_entry_script_tags('admin') }}
            <script type="text/javascript" href="build/admin.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" href="build/app.js"></script>
        {% endblock %}
    </main>
{% endblock %}