{% extends "./admin/base.admin.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    <link href="/build/admin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <header>
        <h1>{{title}}</h1>
       <h2>{{sousTitre}}</h2>
        {% include "./admin/parts/_toolbar.html.twig"%}
    </header>

    <main>
        <button id="create">Créer</button>
         <div id="admin-form">
            {{ form_start(form) }}

                <div class="form-group" id="form-title">
                {{ form_row(form.name) }}
                </div>
                <div class="form-group" id="form-file">
                {{ form_row(form.fileName) }}
                </div>
                
                <button id="form-submit" type="submit">Créer</button>
            {{ form_end(form) }} 
        </div> 
        <section id="list-items">
        {# <div>
        <p>{{ event.title }}</p>
            <button>Editer</button>
            <button>Archiver</button>
        </div> #}
        <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Nom</th>
                    <th scope="col">Outils</th>
                </thead>
                <tbody>
                {% for artiste in artistes %}
                
                    <tr>
                        <td>{{ artiste.name }}</td>
                        <td>
                            <p><button id="modifier" class="tools">Editer</button><button id="supprimer" class="tools">Supprimer</button></p>
                        </td>
                    </tr>
                    
                {% endfor %}
                </tbody>
            </table>

       
        <div>{{ knp_pagination_render(artistes) }}</div>
        </section>

        {% block javascript %}
            {{ encore_entry_script_tags('admin') }}
            <script type="text/javascript" href="build/admin.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" href="build/app.js"></script>
        {% endblock %}
    </main>
{% endblock %}