{% extends "./admin/base.admin.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    <link href="/build/admin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <header>
        <h1>{{title}}</h1>
        <h2>{{sousTitre}}</h2> 
        {% include "./admin/parts/_toolbar.html.twig"%}
    </header>

    <main>

            <div id="edit-form">
                {{ form_start (form) }}
                <div class=".form-group-edit">
                {{ form_rest (form)}}
                </div>
                
                <button id="form-submit" type="submit">Sauvegarder</button>
                {{form_end (form)}}
            </div>


    </main>
        {% block javascript %}
            {{ encore_entry_script_tags('admin') }}
            <script type="text/javascript" href="build/admin.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" href="build/app.js"></script>
        {% endblock %}
    
{% endblock %}