{% extends "./admin/base.admin.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    <link href="/build/admin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <header>
        <h1>{{title}}</h1>
       <h2>{{sousTitre}}</h2>
        {% include "./admin/parts/_toolbar.html.twig"%}
    </header>

    <main>
            <button id="create">Créer</button>

            <div id="admin-form">
                {{ form_start (form) }}
                <div class="form-group" id="form-title">
                {{ form_row(form.title) }}
                </div>
                <div class="form-group" id="form-desc">
                {{ form_row(form.description) }}
                </div>
                <div class="form-group" id="form-file">
                {{ form_row(form.imageFile) }}
                </div>
                <div class="form-group" id="form-category">
                {{ form_row(form.category) }}
                </div>
                <div class="form-group" id="form-date">
                    <div id="event_start">
                        {{ form_row(form.start_date) }}
                        {{ form_row(form.beginning_hour) }}
                    </div>
                    <div id="event_end">
                        {{ form_row(form.end_date) }}
                        {{ form_row(form.end_hour) }}
                    </div>
                </div>
                <div class="form-group" id="form-location">
                {{ form_row(form.location) }}
                </div>
                <div class="form-group" id="form-artiste">
                {{ form_row(form.artiste) }}
                </div>
                <div class="form-group" id="form-price">       
                {{ form_row(form.price) }}
               
                </div>
                <div class="form-group" id="form-price">       
                
                </div>

                <div class="form-group" id="form-forward">       
                {{ form_row(form.put_forward) }}
                </div>
                
                <button id="form-submit" type="submit">Créer</button>
                {{form_end (form)}}
            </div>


        <section id="list-items">

      
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Titre</th>
                    <th scope="col">Date de fin</th>
                    
                    <th scope="col">Outils</th>
                </thead>
                <tbody>

                {% for event in events %}
                    <tr>
                        <td>{{ event.title }}</td>
                        <td>{{ event.endDate|date("d/m/Y") }}</td>
                        <td> 
                            <a href={{ path ('edit-event', {id: event.id }) }}> 
                                <p><button id="modifier" class="tools">Editer</button><button id="archiver" class="tools">Archiver</button></p>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>{{ knp_pagination_render(events) }}</div>

        </section>

    </main>
        {% block javascript %}
            {{ encore_entry_script_tags('admin') }}
            <script type="text/javascript" href="build/admin.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" href="build/app.js"></script>
        {% endblock %}
    
{% endblock %}