{% extends "./admin/base.admin.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    <link href="/build/admin.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <header>
        <h1>{{title}}</h1>
       <h2>{{sousTitre}}</h2>
        {% include "./admin/parts/_toolbar.html.twig"%}
    </header>

    <main>
        <button id="create">Créer</button>

        {# <div id="admin-form">
             {{ form_start(form) }}
            {{ form_end(form) }} 
        </div> #}
         
        <section id="list-items">
        {# <div>
        <p>{{ event.title }}</p>
            <button>Editer</button>
            <button>Archiver</button>
        </div> #}
            <table class="table">
                <thead class="thead-dark">
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Outils</th>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.roles[0]}}</td>
                            <td>  
                                <p><button id="modifier" class="tools">Editer</button><button id="supprimer" class="tools">Supprimer</button></p>
                            </td>
                        </tr>
                        
                    {% endfor %}
                </tbody>
            </table>

            <div>{{ knp_pagination_render(users) }}</div>
            
    </section>
</main>   
        {% block javascript %}
            {{ encore_entry_script_tags('admin') }}
            <script type="text/javascript" href="build/admin.js"></script>
            {{ encore_entry_script_tags('app') }}
            <script type="text/javascript" href="build/app.js"></script>
        {% endblock %}
    
{% endblock %}