@font-face{
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: 'Barlow';
    src: url("../../public/fonts/Barlow/Barlow-Bold.ttf");
}

@font-face{
    font-family: "Oswald";
    src: url("../../public/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
element {
    --purple: #3D2B3D;
    --green: #44AF69;
    --light-purple: #A663CC;
    --orange: #FCAB10;
    --red: #E70E02;
    
  }

/*reset*/ 
*{
    border: none;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
/*reset*/

body{
   background: rgb(255, 255, 255);
   margin: auto;
}

a{
    text-decoration: none;
    color: #3D2B3D;
}

h1{
    text-transform: capitalize;
    text-align: center;
    margin: 25px auto 10px;
    font-size: 35px;
    padding: 0px 10px;
    text-decoration: underline #FCAB10; 
}
h2{
    text-align: center;
    text-transform: capitalize;
}


nav{
    position: fixed;
    z-index: 2000;
    display: flex;
    left:-200px ;
    transition:  all .4s ease;
    top: 0px;
    pointer-events: none;
    
    #main-menu{
        position: relative;
        z-index: 2;
        width: 200px;
        height: 100vh;
        top: 0;
        pointer-events:initial;
        padding-top: 20vh;
        background: #f1f1f1;
    
        li{
            margin: 10px;
            width: fit-content;

            &:after{
                content: "";
                width: 0px;
                height: 3px;
                
                background:#FCAB10 ;
                display: block;
                transition: all .3s ease-in-out;
            }

            &:hover{
                cursor: pointer;

                &:after{
                    width: 100%;
                    height: 3px;
                    
                }
            }
        }
        #logo{
            font-size:30px;
            margin:30px;
        }
    
    }
    #burger{
        display:block;
        position: relative;
        z-index: 10;
        margin: 0;
        width: 50px;
        background: #FCAB10;
        padding: 22.5px 0 ;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 25px;
        height: 50px;
        top: 30px;
        pointer-events:initial;
        
        #bar{
            margin-left: 5px;
            display:block;
            width: 35px;
            height: 4px;
            background-color: black;
            border-radius: 3px;
            transition:  .5s ease-in-out;
            
            &:before, &:after{ 
                content:"";
                display: block;
                width: 35px;
                height: 4px;
                background-color: black;
                border-radius: 3px;
                position: absolute;
                left: 0;
                transition: all .5s ease-in-out;
                margin-left: 5px;
            }
    
            &:before{ 
                transform:translateY(-12px)
            }
    
            &:after{ 
                transform:translateY(12px)
            }
        }
        .bar-hidden{
            background:transparent!important;
        
            &:before{
                transform:rotate(45deg)!important;
            }
        
            &:after{
                transform:rotate(-45deg)!important;
            }
        }
    }
}

.show-nav{
    left: 0px!important;
}

#create{
    text-transform: uppercase;
    outline: 0;
    background: #FCAB10;
    width: 100px;
    font-weight: bold;
    margin: 40px auto 0;
    display: block;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
      &:hover,&:active,&:focus {
          background-color: #e4990e;
    }
      
}
// -->form 
#admin-form{
    height: 0px;
    overflow: hidden;
    
}

.display-admin-form{
    height: 100%!important;
}

form{
    width: 90%;
    max-width: 450px;
    margin: auto;
    background: #FFFFFF;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    .form-group{
        margin: 20px;

        #event_fileName {
            margin: auto;
            display: block;
        }
        input,textarea, select {
            background: #f2f2f2;
            width: 100%;
            display: block;
            max-width: 400px;
            padding: 5px;
            border: 1px solid rgb(48, 47, 46);
            border-radius: 5px;
        }
        textarea{
            height: 100px;
            
        }
    }

    

    #form-date{
        text-align: start;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;

        #event_start, #event_end{
            
                min-width: 180px;
                text-align: center;

                > div{
                    margin: 10px auto;
                }
                input{
                    display: block;
                    background: #f2f2f2;
                    border: 1px solid rgb(48, 47, 46);
                    padding: 5px;
                    border-radius: 5px;
                    margin: auto;
                    width: 150px;
                }
           
        }
    }

    #event_put_forward{
        display: block;
        margin: auto;
    }



    #form-submit{
        text-transform: uppercase;
        outline: 0;
        background: #A663CC;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;

        &:hover{
            background: #9158b3;
        }
    }
   
}

    
// form {
//         background: #FFFFFF;
//         text-align: center;
//         box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
//     h2{
//         padding: 22.5px;
//     }

//     input {
//         font-family: "Roboto", sans-serif;
//         outline: 0;
//         background: #f2f2f2;
//         width: 100%;
//         border: 0;
//         margin: 0 0 15px;
//         padding: 15px;
//         box-sizing: border-box;
//         font-size: 14px;
//     }

//     button {
//       font-family: "Roboto", sans-serif;
//       text-transform: uppercase;
//       outline: 0;
//       background: #A663CC;
//       width: 100%;
//       border: 0;
//       padding: 15px;
//       color: #FFFFFF;
//       font-size: 14px;
//       -webkit-transition: all 0.3 ease;
//       transition: all 0.3 ease;
//       cursor: pointer;
//         &:hover,&:active,&:focus {
//             background: #8d54ad;
//         }
//     }

//     .message {
//         margin: 15px 0 0;
//         font-size: 12px;
//         cursor: pointer;

//         span {
//             color: #A663CC;
//             text-decoration: none;
//         }
//     }
// }

.pagination{
    text-align: center;
    margin: 50px;
    font-size: 20px;

    .current{
        font-size: 24px;
        text-decoration: underline #E70E02;
    }

    span{
        margin: 0 3px;
    }
}

//table
table{
    border-collapse: collapse;
    text-align: center;
    max-width: 98%;
    margin: 50px auto;
    border: 3px solid rgb(56, 62, 88);

    thead{
        background: rgb(56, 62, 88);
        color: white;
        border: none;
    }

    tr:nth-of-type(even){
        background: rgb(212, 212, 212);
    }

    tr,th{
        min-width: 40px;
        padding: 20px;
    }
    

    td{
        padding: 5px;

        .tools{
            cursor: pointer;
            padding: 5px;
            margin: 2px;
        }

        #modifier{
            background: #44AF69;
            &:hover{
                background: #3c9b5d;
            }  
        }
        
        #archiver{
            background: #A663CC;
            &:hover{
                background: #824fa0;
            }
        }

        #supprimer{
            background: #E70E02;
            &:hover{
                background: #ce0e04;
            }
        }
    }
}

@media(min-width:768px) {

    header{
        
        h1,h2{
            margin-left: 200px;
            
        }
    }

    main{
        margin-left: 200px;

        table{
            width: 90%;
            max-width:880px;
        }
        
    }
    nav{
        
        width: 200px;
        left: 0%;
        top: 0%;
        
       
        #burger,#logo{
            display: none;
        }

        #main-menu{
            
            li{
                margin: 10px 20px;
               
            }
    
        }
    }

}