@font-face{
    font-family: "Roboto";
    src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: 'Barlow';
    src: url("../../public/fonts/Barlow/Barlow-Bold.ttf");
}

@font-face{
    font-family: "Oswald";
    src: url("../../public/fonts/Oswald/Oswald-VariableFont_wght.ttf");
}
element {
    --purple: #3D2B3D;
    --green: #44AF69;
    --light-purple: #A663CC;
    --orange: #FCAB10;
    --red: #E70E02;
    
  }

/*reset*/ 
*{
    border: none;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    
}
/*reset*/

body{
   background: rgb(255, 255, 255);
   max-width: 1000px;
   margin: auto;
   min-height: 100vh;
   position: relative;
   padding-bottom: 160px;
}

main{
    margin-bottom: 20px;
}

.msg-erreur{
    margin: 30px;
    color: red;
   
    text-decoration: underline;
    text-align: center;
}
a{
    text-decoration: none;
    color: #3D2B3D;
}


h1{
    text-transform: capitalize;
    text-align: center;
    margin: 25px auto;
    font-size: 35px;
    padding: 0px 10px;
    text-decoration: underline #FCAB10; 
}

.line{
    width: 95%;
    display: block;
    height: 1px;
    background-color: black;
    margin: auto;
}

nav{
    position: fixed;
    z-index: 2000;
    display: flex;
    left:-200px ;
    transition:  all .4s ease;
    top: 0px;
    pointer-events: none;

    #main-menu{
        position: relative;
        z-index: 2;
        background: rgb(252, 252, 252);
        width: 200px;
        height: 100vh;
        top: 0;
        pointer-events:initial;
    
        li{
            margin: 10px;
            width: fit-content;

            &:after{
                content: "";
                width: 0px;
                height: 3px;
                background:#FCAB10 ;
                display: block;
                transition: all .3s ease-in-out;
            }

            &:hover{
                cursor: pointer;

                &:after{
                    width: 100%;
                    height: 3px;
                    
                }
            }

            .fa{
                font-size:25px;
                
            }
        }
        #logo{
            font-size:30px;
            margin:30px;
        }
    
    }
    #burger{
        display:block;
        position: relative;
        z-index: 10;
        margin: 0;
        width: 50px;
        background: #FCAB10;
        padding: 22.5px 0 ;
        cursor: pointer;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 25px;
        height: 50px;
        top: 30px;
        pointer-events:initial;
    
        #bar{
            margin-left: 5px;
            display:block;
            width: 35px;
            height: 4px;
            background-color: black;
            border-radius: 3px;
            transition:  .5s ease-in-out;
            
            &:before, &:after{ 
                content:"";
                display: block;
                width: 35px;
                height: 4px;
                background-color: black;
                border-radius: 3px;
                position: absolute;
                left: 0;
                transition: all .5s ease-in-out;
                margin-left: 5px;
            }
    
            &:before{ 
                transform:translateY(-12px)
            }
    
            &:after{ 
                transform:translateY(12px)
            }
        }
        .bar-hidden{
            background:transparent!important;
        
            &:before{
                transform:rotate(45deg)!important;
            }
        
            &:after{
                transform:rotate(-45deg)!important;
            }
        }
    }
}


.show-nav{
    left: 0px!important;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #FCAB10;
    text-align: center;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin: 50px auto 0 ;
    padding-bottom: 10px;

    #footer-fa *{
        margin: 10px;
        font-size: 1.2em;
        border: 2px solid black;
        padding: 5px;
        width: 40px;
        border-radius:50px;

        &:hover{
            color: #A663CC;
            cursor: pointer;
            border-color: #A663CC;
        }
    }

    #txt{
        margin: 10px;
    }
    // #footer-links{
    //     padding: 10px;
    // }

    // ul{
    //     margin: 20px;
        
    //     li{
    //         margin: 5px;
    //     }
    // }

    // i:hover, a:hover{
    //     cursor: pointer;
    //     color: #A663CC;
    // }
}


@media(min-width:768px) {
    nav{
        position: initial;
    
        #burger,#logo{
            display: none;
        }

        #main-menu{
            display: flex;
            justify-content:center;
            height: auto;
            position: initial;
            width: 80%;
            margin: 10px auto ;
            border-bottom: 1px solid black;

            li{
                margin: 10px;
               
                .fa{
                    font-size:22px
                }
            }
    
        }
    }
   
}