
#filter-menu{
    position: fixed;
    z-index: 1000;
    display: flex;
    right: -200px;
    transition: all 0.4s ease;
    top: 0px;
    pointer-events: none;

    #search-form{
        margin: auto;
        width: 90%;
        font-size: 14px;
        
        #search_q{
            border: 1px solid black;
            
        }
    }

    #search_category{
        display: grid;
        grid-template-columns: 8% 92%;

        input{
            margin-top: 3px;
        }
        
    }

    #form-search{
        display: flex;
        justify-content:center;
        i{
            margin-right: 5px;
            font-size:18px
        }
    }

    #filter-button{
        display: block;
        position: relative;
        z-index: 10;
        margin: 0;
        width: 50px;
        line-height: 1em;
        background: #FCAB10;
        padding:  0 10px ;
        cursor: pointer;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 25px;
        height: 50px;
        top: 85vh;
        right: 0px;
        pointer-events: initial;
        font-size: 40px;
    }

    #filter-options{
        position: relative;
        z-index: 2;
        background: rgb(252, 252, 252);
        width: 200px;
        height: 100vh;
        top: 0;
        pointer-events:initial;
    }

    #search_min,#search_max{
        background: #f2f2f2;
            width: 50%;
            max-width: 400px;
            margin: 3px;
            border: 1px solid rgb(48, 47, 46);
    }

    #form-submit{
        text-transform: uppercase;
        outline: 0;
        background: #FCAB10;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        cursor: pointer;

        &:hover{
            background: #e09813;
        }
    }

}

.show-filter{
    right: 0px!important;
}


#events{
    display:grid;
    grid-template-columns: 50% 50%;
    max-width: 400px;
    margin: auto;
    .single-event{
        max-width: 200px;
        height: 280px;
        border: 1px solid rgb(218, 215, 215);
        
        .event-img{
        margin: auto;
        height: 150px;
        background-size: cover;
        background-position: center;
        }
        
        .event-content{
            margin: auto;
        }

        .event-content > p {
            margin: 3px ;
            font-size: 12px;
        }

        h3{
            margin: 10px ;
            font-size:16px 
        }
        
    }
}

.pagination{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    .current{
        font-size: 24px;
        text-decoration: underline #E70E02;

    }

    span{
        margin: 0 3px;
    }
}



@media (min-width: 768px){

    #events{
        grid-template-columns: 33% 33% 33%;
        max-width: 600px;
        .single-event{
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.42); 
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.42);
            margin: 5px;
        }
        
    }

}

@media (min-width:1090px){
   #filter-menu{
    position: initial;
    display: initial;

    #search-form{
        margin: auto;
        width: 90%;
        font-size: 14px;
        #search_q{
            border: 1px solid black;
            
        }
    }

    #search_category{
        grid-template-columns: 3% 22% 3% 22% 3% 22% 3% 22%;

        input{
            margin-top: 3px;
        }
        
    }

    #filter-button{
        display: none;
    }

    #filter-options{
        position: initial;
        width: auto;
        height: auto;
        pointer-events:initial;
    }
    #form-price{
        display: flex;
        justify-content: center;
    }

    #form-submit{
        width: 150px;
        margin: auto;
        display:block;
    }

}
}