//test


#slider-div{
    position:relative;
    z-index: 1500;
    i{
        font-size:50px;
        position: absolute;
        z-index: 1500;
        top: 45%;
        color: white;
    
        &:hover{
            color: rgb(221, 219, 219);
            cursor: pointer;
            
            
        }
        
    }
    .fa-caret-left{ 
        left: 10px;
    }
    
    .fa-caret-right{ 
        right: 10px;
    }
}

#slider{
margin:25px auto 50px;

position: relative;
z-index: 1000;

overflow: hidden;
scroll-behavior: smooth;
max-width: 1000px;

    
    #slider-items{
        width: 300%;
        height: 250px;
        position: relative;
        display: flex;
       
        .slide{
            width: 100%;
            height: 250px;
            background-size: cover;
            background-position: center;
            font-size:20px;
            
            
            a{
                margin: 50px;
                display: block;
                margin: auto;
                width: 70%;
                height: 100%;
                color: white;

                h3{
                    padding-top:140px;
                }
            }
           
        }
    }


   
}


#section-category{


    #card-concert{
        background-image: url('../../public/pictures/site/concert.jpg');
    }
    #card-festival{
        background-image: url('../../public/pictures/site/festival.jpg');
    }
    #card-spectacle{
        background-image: url('../../public/pictures/site/spectacle.jpg');
    }
    #card-sport{
        background-image: url('../../public/pictures/site/sport.jpg');
    }

    .card {
        background-position: center;
        background-size: cover;
        border-radius: 3px;
        box-shadow: -2px 4px 24px 0px rgba(160,160,160,0.75);
        -webkit-box-shadow: -2px 4px 24px 0px rgba(160,160,160,0.75);
        -moz-box-shadow: -2px 4px 24px 0px rgba(160,160,160,0.75);
        color: #E70E02;
        font-size:40px;
        height: 200px;
        margin: 20px auto ;
        text-shadow: 4px 4px 2px rgba(7, 7, 7, 0.6);
        transition: transform 1s;
        width: 95%;
        max-width: 490px;
        
        &:hover{
            cursor: pointer;
            transform: scale(0.99);
        }

        &:nth-child(odd){
            text-align: end;
        }
        
        p{
            padding: 5px 10px;
        }
    }
}


@media (min-width: 1030px){

    #section-category{

        #div-category{
            display:grid;
            grid-template-columns: 50% 50%;
            width: 1000px;
            margin: auto;
        }
        
        .card {
            margin: 10px auto ;
            &:nth-child(odd){
                text-align: start;
            }
        }
       
    }

    
}