
/*->Login*/

#div-login {
    position: relative;
    overflow: hidden;
    z-index: 1500;
    height: 75vh;
    margin-top:50px;
    #register-form, #login-form {
        transition:  top 1.5s ease-in-out;
        position: absolute;
        top:200px;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 320px;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 0 45px 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
        }

        h2{
            padding: 22.5px;
        }

        input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        button {
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          outline: 0;
          background: #A663CC;
          width: 100%;
          border: 0;
          padding: 15px;
          color: #FFFFFF;
          font-size: 14px;
          -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
          cursor: pointer;
            &:hover,&:active,&:focus {
                background: #8d54ad;
            }
        }
        
        .message {
            margin: 15px 0 0;
            font-size: 14px;
            cursor: pointer;
            span {
                color: #A663CC;
                text-decoration: underline;
                
                
            }
        }

        .hidden {
    
            top: 1000px!important;
            
        }
}



