
h2{
    text-align: center;
}

#div-cart{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.42);
    padding: 20px 0px;
}

table{

        border-collapse: collapse;
        text-align: center;
        width: 100%;
        margin: 50px auto;
        border: 3px solid rgb(56, 62, 88);
        font-size: 14px;

        thead{
            background: rgb(56, 62, 88);
            color: white;
            border: none;
        }
    
        tr:nth-of-type(even){
            background: rgb(212, 212, 212);
        }
    
        tr,th{
            min-width: 40px;
            padding: 10px;
        }
        
        td{
            padding: 5px;
        }

    tfoot{
        border-top: 1px solid black;
    }
    .fa{
        font-size: 22px;
        margin: 0px 3px;
    }
    .fa-plus{
        color: rgb(30, 233, 30);
    }

    .fa-minus{
        color: #f1bd00;
    }

    .fa-trash{
        color: red;
    }
    
}

@media (min-width: 768px){
    
    #div-cart{
        padding: 20px;
    }

    table{
        font-size: initial;
    }
}