
#event{

    #event-img{
        width: fit-content;
        margin: auto;
        
        img{
            width: 230px;
            margin: auto;
        }

    }

    #event-content{
        margin: auto;
        width: fit-content;
        h2{
            text-align: center;
            margin: 20px;
        }

        p{
            margin: 10px 20px;

            .fa{
                width: 20px;
            }
        }
    }
  
}

#event-desc{
    max-width: 700px;
    padding: 0 30px;
    margin: 50px auto;
}

#map{
    height: 200px;
    max-width: 800px;
    margin: auto;
}

#order{
    width: fit-content;
    margin: 50px auto;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09); 
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);
    text-align: end;

   
    div,p,#order-button{
        margin: 10px;
    }
    input{
        border: 1px solid rgb(48, 47, 46);
        padding: 5px;
        width: 50px;
    }
    #order-button{
        width: 100px;
        height: 40px;
        background:#FCAB10 ;
        cursor: pointer;
        display: block;
        margin: 10px auto;

        &:hover{
            background: #d48f0d;
        }
    }
    p{
        text-align: center;
    }
}

@media (min-width:768px) {
    #event{
        display: flex;
        margin: 50px auto;
        max-width: 750px;

        #event-img{
            width: fit-content;
            
            
            img{
                width: 230px;
                
            }
    
        }

    }
}