{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('events') }}
    <link href="/build/events.css" rel="stylesheet">
{% endblock %}
{% block body %}

    {% include "parts/_header.html.twig" with {'title': title}%}

    <main>
        <div id="filter-menu">
            
        <button id="filter-button" ><i class="fa fa-sliders" aria-hidden="true"></i></button>
            <div id="filter-options">
                <div id="search-form">
                    
                    
                    {{ form_start(form)}}
                    

                    {# <div id="form-search"> 
                        <i class="fa fa-search" aria-hidden="true"></i>{{ form_row(form.q)}} 
                    </div> #}

                    <div id="form-cat">
                        {{ form_row( form.category)}}
                        
                    </div>

                    <div id="form-price">
                        {{ form_row(form.min)}}
                        {{ form_row(form.max)}}
                    </div>

                    <button id="form-submit" type="submit">Filtrer </button>

                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>

        <section>

        {% if events is empty %}
        <p class="msg-erreur">Aucun résultat ! Modifier votre recherche !</p>
        {% endif %}
        {# <p>{{events.items|length}} Résultats</p>
        {% endif %} #}
        
   
            
            <div id="events">
            
            
            {% for event in events %}
                
                <a href="{{ path ('singleEvent',{ id: event.id} )}}">
                    <div class="single-event">
                        <div class="event-img" style="background-image: url(/pictures/events/{{ event.filename }})">
                        </div>

                        <div class="event-content">
                            <h3>{{ event.title }}</h3> 
                            <p>{{ event.startDate|date('d/m/Y') }} </p>
                            <p>{{ event.location.city}}</p>
                            <p>{{ event.category.label}}</p>
                        </div>
                        
                        
                    </div>
                </a>

            {% endfor %}
            
                
            </div>

            <div>{{ knp_pagination_render(events) }}</div>
            
        
        </section>
        
    </main>
    {% include "parts/_footer.html.twig"%}

    {% block javascript %}
        {{ encore_entry_script_tags('events') }}
        <script type="text/javascript" href="build/events.js"></script>
    {% endblock %}
{% endblock %}

