{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('homepage') }}
    <link href="/build/homepage.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include "parts/_header.html.twig" with {'title': title}%}
<main>
    <div id="slider-div">
        <div id="slider">
            <div id="slider-items">
            {% for event in events %}
                 
                    <div id="slide-img"class="slide" style= "background-image: url(/pictures/events/{{ event.filename }})">
                    <a href="{{ path('singleEvent', {id: event.id} ) }}"> 
                        <h3>{{ event.title }}</h3>
                        <p>{{ event.startDate|date('d/m/Y') }}</p>
                        </a> 
                    </div>
                 
            {% endfor %}
                {# <div id="first-slide" class="slide" style= "background-image: url('pictures/site/concert.jpg')"></div>
                <div id="second-slide" class="slide" style= "background-image: url('pictures/site/concert.jpg')"></div>
                <div id="third-slide" class="slide" style= "background-image: url('pictures/site/concert.jpg')"></div> #}
            </div> 
        </div>
        <i class="fa fa-caret-left" id="slide-left" aria-hidden="true"></i>
        <i class="fa fa-caret-right" id="slide-right"aria-hidden="true"></i>
    </div>
    <div>
        {# <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus libero quam, at aliquet elit scelerisque non. Nam venenatis feugiat auctor. Praesent et urna erat. Etiam enim magna, tincidunt ut urna eu, venenatis posuere risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus semper sollicitudin orci lacinia ultricies. Mauris a mollis orci. Integer id egestas dolor.</p> #}
    </div>

    <section id="section-category">
        
        <div id="div-category">
            <a href="">
                <div id="card-concert"class="card">
                    <p>Concert</p>
                    <!-- <img src="/pictures/site/concert.jpg" alt="Image-concert"></img> -->
                </div>
            </a>
            <a href="">
                <div id="card-festival"class="card">
                    <p>Festival</p>
                    <!-- <img src="/pictures/site/festival.jpg" alt="Image-festival"></img> -->
                </div>
            </a>
            <a href="">
                <div id="card-spectacle"class="card">
                    <p>Spectacle</p>
                </div>
            </a>
            <a href="">
                <div id="card-sport"class="card">
                    <p>Sport</p>
                </div>
            </a>
        </div>
       
    </section>
</main>
    {% include "parts/_footer.html.twig"%}

    {% block javascript %}
        {{ encore_entry_script_tags('homepage') }}
        <script type="text/javascript" href="build/homepage.js"></script>
    {% endblock %}
{% endblock %}
