{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
    <link href="/build/login.css" rel="stylesheet">
{% endblock %}
{% block body %}

    {% include "parts/_header.html.twig" with {'title': title}%}
<main>

    <div id="div-login">
        <form id="register-form" class="hidden">
            <h2>S'inscire:</h2>
            <input type="text" placeholder="Adresse mail"/>
            <input type="password" placeholder="Mot de passe"/>
            <button>Créér</button>
            <p id="trigger-login" class="message">Déja inscrit? <span>Connexion</span></p>
        </form>
        <form id="login-form">
            <h2>Se connecter:</h2>
            <input type="text" placeholder="Email"/>
            <input type="password" placeholder="Mot de passe"/>
            <button>Connexion</button>
            <p id="trigger-register"class="message">Pas encore inscrit? <span>Créer un compte</span></p>
        </form>
  </div>

</main>

{% include "parts/_footer.html.twig"%}

    {% block javascript %}
        {{ encore_entry_script_tags('login') }}
        <script type="text/javascript" href="build/login.js"></script>
    {% endblock %}

    
{% endblock %}