{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('singleEvent') }}
    <link href="/build/singleEvent.css" rel="stylesheet">
{% endblock %}
{% block body %}

{% include "parts/_header.html.twig" with {'title': title}%}
<main>  
    <section>
    {% for event in event %}
        <div id="event">
            
            <div id="event-img">
                <img src="/pictures/events/{{ event.filename }}"/>
            </div>
            <div id="event-content">
                <h2>{{event.title}}</h2>
                <p><i class="fa fa-file-text" aria-hidden="true"></i> Voir la description</p>
                <p>
                    <i class="fa fa-calendar" aria-hidden="true">
                    </i> Du {{ event.startDate|date('d/m/Y') }} au {{ event.endDate|date('d/m/Y')}}
                </p>
                <p>
                    <i class="fa fa-map-pin" aria-hidden="true"></i>
                    {{event.location.place}}, <span id="adress">{{event.location.adresse}}, {{event.location.city}} </span>
                </p>
                    
            </div>
        </div>
    
        {% if app.user %}
            <form id="order" method="GET" action="{{ path ('cart_manage', { 'id' : event.id  })}}">
            <input type="hidden" id="adultPrice" value="{{ event.price }}"/>
            {# <input type="hidden" id="childPrice" value="{{event.childPrice }}"/> #}
            <div>
                
                <label for="adult">Tarif: {{ event.price }}€</label>
                <input id="adult" name="number" type="number" required min="0" value="0"/>
            </div>
            {# <div>
                
                <label for="child">Tarif Enfant: {{ event.childPrice }}€</label>
                <input id="child" name="child" type="number" required min="0" value="0"/>
            </div> #}

            <p> Total : <span id="total"> </span> </p>
            
               <a href=""><button id="order-button">Valider</button></a>
            </form>
            
            
            

        
        {% else %}
            <a href="{{ path('app_login')}}"><p class="msg-erreur">Connecter vous pour réservez vos billets !<p></a>
        {% endif %}

        <div id="event-desc">
                <p>{{ event.description}}</p>
        </div>
        <div>
            {% for artiste in event.artiste %}
            
            <p>{{ artiste.name }}</p>
            {% endfor %}
        </div>

        <div id="map"></div>
        {% endfor %}
        
    </section>
</main>
 {% include "parts/_footer.html.twig"%}
 {% block javascript %}
        {{ encore_entry_script_tags('singleEvent') }}
        <script type="text/javascript" href="build/singleEvent.js"></script>
         <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    {% endblock %}

{% endblock %}

