<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>{% block title %}Billetterie!{% endblock %}</title>
        
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
        {{ encore_entry_link_tags('app') }}
        <link href="/build/app.css" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        <script type="text/javascript" href="build/app.js"></script>
    </body>
    
</html>
