{% block recaptcha_submit_widget %}

    {% set label = button %}
    {% set attr = attr | merge({class: 'g-recaptcha', 'data-sitekey': key, 'data-callback': ''}) %}
    
    {% block submit_widget %}
    {% endblock %}

{% endblock %}