
<footer>
    <div id="footer-content">

        <div id="footer-contact">
            <div id="footer-fa">
                <i class="fa fa-linkedin " aria-hidden="true"></i>
                <i class="fa fa-facebook " aria-hidden="true"></i>
                <i class="fa fa-twitter " aria-hidden="true"></i>
            </div>
        </div>

        <div id="footer-info">
            <div id="logo"></div>
            <div>
                <ul>
                    <a href="#"><li>Nous contacter</li></a>
                    
                </ul>
            </div>
            <div>
                <p id="txt">@2021 Billetterie. Tous droits Réservés.</p>
            </div>
            <div id="footer-links"> <a href="#">Mentions légales </a>- <a href="#">Confidentialités en ligne </a> - <a href="#">Informations légales </a>- <a href="#">Cookies</a></div>
        </div>
    </div>
</footer>