

<nav id="nav-menu">

    <ul id="main-menu">
        <p id="logo">Billetterie</p>
        <a href="{{ path('accueil') }}"><li>Accueil</li></a>
        <a href="{{ path('concert') }}"><li>Concert</li></a>
        <a href="{{ path('festival') }}"><li>Festival</li></a>
        <a href="{{ path('spectacle') }}"><li>Spectacle</li></a>
        <a href="{{ path('sport') }}"><li>Sport</li></a>

        {% if is_granted ('ROLE_ADMIN')  %}
            <a href="{{ path('admin')}}"><li>Administration</li></a>
        {% endif %}

        {% if is_granted ('ROLE_USER') and not is_granted ('ROLE_ADMIN') %}
            <a href="{{ path('monCompte')}}"> <li>Mon Compte</li></a>
            <a href="{{ path('cart')}}"><li><i class="fa fa-shopping-cart" aria-hidden="true"></i></li></a>
        {% endif %}

        {% if (app.user) %}
                <a href="{{ path('app_logout')}}"><li>Déconnexion</li></a>
        {% else %}
            <a href="{{ path('app_login')}}"><li>Connexion/Inscription</li></a>
        {% endif %} 
        
    </ul>   
    <div id="burger">
        <span id="bar"></span>
    </div>   
</nav>