{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('monCompte') }}
    <link href="/build/monCompte.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include "parts/_header.html.twig" with {'title': title}%}
<main>
</main>
    {% include "parts/_footer.html.twig"%}

    {% block javascript %}

    <div id="div-cart">
        {% if dataCart %}
        
            <table>
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                {% for element in dataCart %}
                    <tr>
                        <td>{{ element.article.title }}</td>
                        <td>{{ element.article.price }} €</td>
                        <td>{{ element.quantity }}</td>
                        <td>{{ element.total }} €</td>
                        <td>
                        
                            <a href="{{ path('cart_manage', { id: element.article.id, number: 1}) }}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                            <a href="{{ path('cart_manage', { id: element.article.id, number: -1}) }}"><i class="fa fa-minus" aria-hidden="true"></i></a>
                            <a href="{{ path('cart_manage', { id: element.article.id, number: 0 }) }}"><i class="fa fa fa-trash" aria-hidden="true"></i></a>
                            <a href="{{ path('singleEvent', { id: element.article.id}) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                    <td id="empty"></td>
                    <td id="empty"></td>
                        <td>Total</td>
                        <td> {{ total }} €</td>
                        <td><a id="payment" href="{{ path('order')}}"> Valider</a></td>
                    </tr>
                </tfoot>
            </table>  
            {% else %}
                
                    <p class="msg-erreur">Votre panier est vide</p>
            {% endif %}
        </div>
        


        {{ encore_entry_script_tags('monCompte') }}
        <script type="text/javascript" href="build/monCompte.js"></script>
    {% endblock %}
{% endblock %}