{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('monCompte') }}
    <link href="/build/monCompte.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include "parts/_header.html.twig" with {'title': title}%}
<main>

    <section>
    {% for order in orders %}
        <div id="order">
            <p>{{ order.createdAt | date('d/m/Y') }}</p>
            <p>{{ order.ticketNumber}} Places</p>
            {% for event in order.event %}
                {{ event.title }}
            {% endfor %}
        </div>
    {% endfor %}
    </section>

</main>
    {% include "parts/_footer.html.twig"%}

    {% block javascript %}
        {{ encore_entry_script_tags('monCompte') }}
        <script type="text/javascript" href="build/monCompte.js"></script>
    {% endblock %}
{% endblock %}